@media screen and (min-width: 840px) {
    .page_header {
        grid-template-columns: repeat(3, 1fr);
    }
    .latest__label {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .latest__label::after {
        content: '';
        margin-top: 16px;
        display: block;
        border-bottom: 1px solid #eeeeee;
    }
    .page_header .search_bar .field input {
        border-radius: 40px;
    }
}

@media screen and (max-width: 840px) {
    .page_header {
        grid-template-columns: repeat(2, 1fr);
    }
    .latest__label {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .latest__label::after {
        content: '';
        margin-top: 11px;
        display: block;
        border-bottom: 1px solid #eeeeee;
    }
    .page_header .search_bar .field input {
        border-radius: 40px;
    }
}

@media screen and (max-width: 640px) {
    .page_header {
        grid-template-columns: repeat(1, 1fr);
    }
    .page_header .search_bar .field input {
        border-radius: 10px;
    }
    .latest__label::after {
        content: '';
        margin-top: 11px;
        display: block;
        border-bottom: none;
    }
}

.content {
  padding-left: 10px;
  padding-right: 10px;
}

.latest {
  width: 100%;
  text-align: center;
}

.latest__label {
  font-size: 25px;
  font-weight: 800;
  padding-right: 15px;
  padding-top: 5px;
}



.page_header {
    display: grid;
    margin: 0 20px 10px 20px;
}

.search_bar .field input {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 18px 0 48px;
    font-size: 16px;
    border: 1px solid #ccc;
}